.cell {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
  vertical-align: middle;
}

.checkboxCol {
  width: 50px;
  padding: 12px 8px;
  text-align: center;
}

.checkboxCol input[type="checkbox"] {
  cursor: pointer;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin: 0;
}

.row:hover {
  background-color: #f9fafb;
}

.inactive {
  opacity: 0.6;
}
